# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Virtual Environment
venv/
env/

# OS specific
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 